@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

.collapse-button {
    display: block;
    width: 100%;
   
    
    
   
  }
  
  .collapse-content.collapsed {
    display: none;
  }
  
  .collapsed-content.expanded {
    display: block;
   
  }
  .collapse-content-normal{
    display: block;
    margin-left: 5%;
  }

  .hasMargin{
      margin-left: 10%;
  }
  .square {
    position: relative;
    width: 50%;
    margin: auto;
   
     
  }
  
  .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
  }
  .accordion__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
  }